@use "sass:map";
$icons-font-family: 'fi';
$font-family-sans-serif: "Windows XP Tahoma", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$grid-gutter-width: 2.5rem !default;

// scss-docs-start gray-color-variables
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
// scss-docs-end gray-color-variables

// scss-docs-start spacer-variables-maps
$spacers: (
  0: 0,
  50: 50px,
  60: 60px,
) ;
// scss-docs-end spacer-variables-maps
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

$container-max-widths: map.merge( $container-max-widths, (xxl: 1400px) );
